.DS_Store

application/config/database.php

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

user_guide
user_guide/cilexer/build/*
user_guide/cilexer/dist/*
user_guide/cilexer/pycilexer.egg-info/*
